<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Subnets a.b.c.d/xx</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css"/>
    <link href="../../static/css/styling.css" rel="stylesheet" />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/header :: header">
</div>
<br/>
<div th:unless="${error != null}" class="container-fluid" style="padding-top: 6ex;">
    <iframe th:src="${elasticsearchURL}" style="width: 100%; height: 100%; position: absolute;" frameborder="0"></iframe>
</div>

<!--<div th:if="${elasticsearchSupportView}" th:unless="${error != null}" class="container-fluid" style="padding-top: 6ex;">
    <iframe th:src="${elasticsearchURL}" style="width: 100%; height: 100%; position: absolute;" frameborder="0"></iframe>
</div>-->
<!--<div th:if="${elasticsearchSupportView} == false" class="container" style="padding-top: 10ex; padding-bottom: 10ex;">
    <div class="panel-heading"><h4>ElasticSearch Visualization not supported</h4></div>
    <div class="panel-body">
        <p><strong>You have selected that ElasticSearch visualization is not supported (default value: not supported)</strong></p>
        <p>You may change this setting by changing the Visualization Options:</p>
        <p>&nbsp;&nbsp;Go to <strong>Configuration</strong> tab -></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Select <strong>Options</strong> -></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Press <a><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a> to insert or <a><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> to edit Visualization Options -></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Set <strong>ElasticSearch support</strong> to <strong>True</strong></p>
        <br/><br/>
        <p><strong>Note:</strong> ElasticSearch (version 5.6.2) and Kibana (version 5.6.2) should be installed and properly configured to allow ElasticSearch visualizations. For details please refer to <a href="https://vm3-gn3-sa2t5.vm.grnet.gr/wifimon/installation_release_0.1.1.html" target="_blank">WiFiMon Installation Guide</a></p>
    </div>
</div>-->
<br/><br/>

<!--div th:replace="fragments/footer :: footer">
</div-->
</body>
</html>
